/* Main menu */
body {
    background: #000;
}

#page {
    min-width: 300px;
    width: 70%;
    padding: 0 20px;
    height: auto;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.home-url {
    font-weight: bold;
}

div.form .errorSummary {
    color: #b94a48;
    background-color: #f2dede;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.secondary {
    width: 200px;
    font-size: 10px;
}

div.avatar {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;
    width: 70px;
}

.circle-70 {
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    overflow: hidden;
}

.change-pad {
    margin-bottom: 33px;
}

/**
* Login form
**/
.login-form {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 30px;
    width: 222px;
}

.login-form form {
    margin-bottom: 0;
}

.login-form form label {
    color: #666;
    font-size: 11px;
    text-align: center
}

.login-button {
    height: 35px;
    padding-top: 5px;
}

.login-button .btn{
    float: right;
}


/**/

.filters input[type="text"] {
    padding: 0;
    margin-bottom: 0;
    margin-right: 3px;
    width: 100%;
}

.table .summary {
    float: right;
    font-size: 10px;
}

.table {
    margin-top: 5px;
}

.form-pad {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 240px;
    margin-top: 15px;
}

/**
*
*/

.gallery-wrapper {
    width: 100%;
    text-align: center;
}

a.gallery-thumb {
    display: block;
    width: 200px;
    height: 220px;
    float: left;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #666;
}

.gallery-thumb img {
    width: 200px;
    height: 200px;
}