/* Main menu */

.post {
    position: relative;
    margin: 15px 0;
    padding: 21px 19px 10px 11px;
    background-color: #fff;
}

.title {
    
}

.post-before {
    margin-top: -20px;
    color: #ddd;
    font-size: 10px;
    text-align: right;
    margin-bottom: 5px;
    line-height: 15px;
}

.post-before a {
    float: right;
    width: 16px;
    height: 16px;
    display: block;
}

.post-before a .icon{
    background-position: -122px -22px;
    margin-left: 10px;
}

.post-before a:hover .icon{
    background-position: -122px -2px;
}

.post-view {
    overflow: hidden;
    margin-bottom: 20px;
}

.post-info {
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-title {
    font-family: Ubuntu, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.post-title a {
    text-decoration: none;
    color: black;
}

.post-title a:hover {
    border-bottom: dotted #b7b7b7 1px;
}

.author img {
    border-radius: 70px;
}

.post-bottom {
    border-top: #e6e6e6 solid 1px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.post-comments a .icon {
    background-position: -62px -22px; 
    float: left;
    margin-right: 8px;
}

.post-comments a {
    color: #b7b7b7;
    text-decoration: none;
    font: 11px bold;
}

.post-comments a:hover {
    color: #58595b;
}

.post-comments a:hover .icon {
    background-position: -62px -2px; 
}

.tags {
    width: 30%;
    float: right;
    text-align: right;
}

.tags a {
    color: #b7b7b7;
    font-size: 11px;
    text-decoration: none;
}

.tags a:hover {
    color: #28a8c8;
    text-decoration: underline;
}

.tags .icon {
    margin-left: 10px;
    float: right;
    background-position: -82px -22px; 
}


/**
 * Pager.
*/
 
#content .list-view .pager {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 20px;    
    
}

ul.post-pager {
    font-size:11px;
    border:0;
    margin: 0;
    padding:0;
    line-height:100%;
    display:inline;
}

ul.post-pager li {
    display:inline;
}


ul.post-pager a:link,
ul.post-pager a:visited {
    font-weight:bold;
    color:#000;
    padding:1px 6px;
    text-decoration:none;
}

ul.post-pager .page a {
    font-weight:normal;
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ul.post-pager .selected a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #58595b;
}

ul.post-pager .hidden a {
    color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.post-pager .first,
ul.post-pager .last {
    display:none;
}

.post-button {
    font-weight:normal;
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight:bold;
    padding:1px 6px;
    text-decoration:none;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #58595b;
}

.comment {
    border-bottom: #e6e6e6 dotted 1px;
    margin-bottom: 30px;
}

.comment .author a{
    text-decoration: none;
    color: black;
    border-bottom: dotted #b7b7b7 1px;
    font-size: 14px;
    font-weight: bold;
}

.comment .author {
    color: #ccc;
    font-size: 11px;
}

.comment .content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment .time {
    color: #ccc;
    font-size: 10px;
    text-align: right;
    line-height: 15px;
}

.comment .icon {
    background-position: -122px -22px;
    margin-right: 10px;
    float: left;
}

.comment a:hover .icon {
    background-position-y: -2px;
}