div#container {
    overflow: hidden;
}


div#page {
    width: 100%;
    text-align: left;
    border-color: #ddd;

}
div#container {
    padding: 20px;
}
div#ads {
    clear: both;
    padding: 12px 0 12px 66px;
}

div.ss-controls {
    float: left;
}
div.nav-controls {
    float: right;
}

div.slideshow-container,
div.loader,
div.slideshow a.advance-link {
    width: 100%;
    position: relative;
}

/*div.loader,
div.slideshow a.advance-link,
div.caption-container {
    height: 502px;  This should be set to be at least the height of the largest image in the slideshow with padding 	
}*/

div.slideshow-container {
    position: relative;
    clear: both;
    float: left;
    width: 70%;
   /* height: 532px;*/
}

div.loader {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('images/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}
div.slideshow span.image-wrapper {
    display: block;
    position: absolute;
    left: 0;
}
div.slideshow a.advance-link {
    display: block;
   line-height: 0px;
    text-align: center;
}

div.caption-container {
    float: right;
    position: relative;
}

span.image-caption {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

div.caption-container{
    position: relative;
    width: 30%;
}
span.image-caption {
    width: 100%;
    position: relative;
}

div.navigation-container {
    float: left;
    position: relative;
    left: 50%;
}
div.navigation {
    float: left;
    position: relative;
    left: -50%;
}
div.navigation a.pageLink {
    display: block;
    position: relative;
    float: left;
    margin: 2px;
    width: 16px;
    background-position:center center;
    background-repeat:no-repeat;
}
div.navigation a.pageLink:focus {
    outline: none;
}

ul.thumbs {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
ul.thumbs li {
    float: left;
    padding: 0;
    margin: 2px;
    list-style: none;
}
a.thumb {
    padding: 1px;
    display: block;
}
a.thumb:focus {
    outline: none;
}
ul.thumbs img {
    border: none;
    display: block;
    width: 50px;
}
div.pagination {
    clear: both;
    position: relative;
    left: -50%;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    position: relative;
    display: block;
    float: left;
    margin-right: 2px;
    padding: 4px 7px 2px 7px;
    border: 1px solid #ccc;
}
div.pagination a:hover {
    text-decoration: none;
}
div.pagination span.current {
    font-weight: bold;
}
div.pagination span.ellipsis {
    border: none;
    padding: 5px 0 3px 2px;
}

div.gallery-gutter {
    clear: both;
    padding-bottom: 20px;
}
