html {
    height: 100%;
}

#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF url('/images/bg.png');
    height: 100%;
}

.icon {
    width: 16px;
    height: 16px;
    display: block;
    background: url('/images/icons.png');
}

/**
*   Sidebar left
*/
.sidebar-left {
    height: 100%;
    width: 220px;
    float: left;
    position: fixed;
    background: #EFEFEF url('/images/bg.png');
}

a.logo
{
    width: 147px;
    height: 112px;
    background: url('/images/logo.png');
    display: block;
    margin-top: 20px;
    margin-left: 27px; 
}

#mainmenu
{
    margin-left: 55px;
}

#mainmenu ul
{
    padding:0px;
    margin:0px;
    margin-top: 58px;
}

#mainmenu ul li
{
    display: block;
    height: 50px;  
    position: relative;
}

#mainmenu ul li a {
    text-decoration: none;
    font-family: Tahoma;
    font-size: 15px;
    color: #959595;
    padding-bottom: 32px;
    width: 100%;
    display: block;
    z-index: 2;
}
#mainmenu ul li a .text{
    padding-left: 30px;
}

#mainmenu ul li:hover a {
    color: #58595b;
}

#mainmenu ul li .icon {
    float: left;
    position: absolute;
    top: 1px;
    z-index: 1;
}

#mainmenu ul li.about-menu .icon { background-position: -102px -22px; }
#mainmenu ul li.photo-menu .icon { background-position: -2px -22px; }
#mainmenu ul li.blog-menu .icon { background-position: -22px -22px; }
#mainmenu ul li.contact-menu .icon { background-position: -42px -22px; }

#mainmenu ul li:hover span.icon { background-position-y: -2px; }

.exp-menu {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.exp-menu a {
    float: right;
    margin-left: 4px;
}
.exp-menu a.logout-btn .icon{ background-position: -182px -22px; }
.exp-menu a.admin-btn .icon{ background-position: -162px -22px; }
.exp-menu a.sitemap-btn .icon{ background-position: -142px -22px; }
.exp-menu a:hover span.icon { background-position-y: -2px; }

/**
*   Content
*/
.container {
    margin-left: 220px;
    padding-left: 50px;
    -webkit-box-shadow: 0px 0px 5px rgba(100, 100, 100, 0.35);
    -moz-box-shadow:    0px 0px 5px rgba(100, 100, 100, 0.35);
    box-shadow:         0px 0px 5px rgba(100, 100, 100, 0.35);
    progid:DXImageTransform.Microsoft.Shadow(color='#999', Direction=0, Strength=3);
    
    overflow: auto;
    position: relative;
}

#content {
    margin-top: 40px;
    margin-right: 40px;
}

#content h1{
    font-family: Ubuntu, Arial, sans-serif;
    font-size: 28px;
    color: #58595b;
    line-height: 32px;
    float: none;
    font-weight: bold;
}

.static-content img, 
.static-content p img,
.static-content div img {
    max-width: 100%;
}

.big-icon {
    width: 32px;
    height: 32px;
    display: block;
    background: url('/images/bigicons.png');
    float: left;
    margin-right: 20px;
}

.big-icon.big-about {background-position: -69px -1px; }
.big-icon.big-contact {background-position: -103px -1px; }
.big-icon.big-blog {background-position: -1px -1px; }
.big-icon.big-photo {background-position: -35px -1px; }


#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}


div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li {
    padding: 2px 0 4px 0px;
}

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;
}

input[type=text], input[type=email], input[type=url], 
input[type=phone], input[type=password], input[type=number], 
input[type=time], select, textarea {
    border: 1px #bababa solid;
    min-width: 25%;
    padding: 4px 6px 6px 7px;
    background-color: #fff;
    outline: 0;
    min-height: 23px;
    position: relative;
    font-size: 15px;
}

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, 
input[type=phone]:focus, input[type=password]:focus, input[type=number]:focus, 
input[type=time]:focus, select:focus, textarea:focus {
    border-color: black;
}

.buttn {
    font-weight: normal;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-color: #c5c5c5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
}

.buttn:hover {
    color: #ffffff;
    background-color: #58595b;
}